{% extends "base.html" %}
{% block title %}chat mask{% endblock %}
{% block body %}
{% include "navbar.html" %}
<div class="pt-5 container">
  <div class="row justify-content-center">
    <form method="post" action="" class="form-inline">
      {% csrf_token %}
      <div class="form-group mb-2">
        <h1 class="h5 form-weight-normal">영화를 선택해주세요</h1>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" name="film"
          class="form-control" placeholder="영화검색" required autofocus>
      </div>
      <button class="btn btn-primary mb-2" type="submit">
        검색
      </button>
    </form>
  </div>
  <div class="row ml-5 mt-5 pl-5">
    <ol class="list-unstyled">
      {% for code, name, image, genre, nation, director, actor in filmlist %}
        <li class="mb-5">
          <a href="#"><img src="{{ image }}" width="67" height="95" alt=""></a>
          <a class="text-secondary font-weight-bold" href="#">제목 : {{ name }}</a>
          <div class="text-secondary">장르 : {{ genre }}</div>
          <div class="text-secondary">국가 : {{ nation }}</div>
          <div class="text-secondary" href="#">감독 : {{ director }}</div>
          <div class="text-secondary" href="#">출연 : {{ actor }}</div>
        </li>
      {% endfor %}
    </ol>
  </div>
</div>
{% endblock %}
