<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=8; IE7; IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}sample{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href='{% static "css/base.css" %}'>
  <link rel="shortcut icon" href='{% static "images/favicon.png" %}'>
</head>
<body style="background-color: #FEFCFF; margin-top: 80px;">
  {% block body %}{% endblock %}
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- custom js -->
  <script>
    // when clicking navbar item, it will be active-styled
    $('.navbar-nav').on('click', 'li', function() {
      $('.navbar-nav li.active').removeClass('active');
      $(this).addClass('active');
    });

    // when scrolling down, navbar will be dissapeared
    $(function () {
      var lastScrollTop = 0;
      var $navbar = $('.navbar');
      var navbarHeight = $navbar.outerHeight();
      var movement = 0;
      var lastDirection = 0;

      $(window).scroll(function(event){
        var st = $(this).scrollTop();
        movement += st - lastScrollTop;

        if (st > lastScrollTop) { // scroll down
          if (lastDirection != 1) {
            movement = 0;
          }
          var margin = Math.abs(movement);
          if (margin > navbarHeight) {
            margin = navbarHeight;
          }
          margin = -margin;
          $navbar.css('margin-top', margin+"px")

          lastDirection = 1;
        } else { // scroll up
          if (lastDirection != -1) {
            movement = 0;
          }
          var margin = Math.abs(movement);
          if (margin > navbarHeight) {
            margin = navbarHeight;
          }
          margin = margin-navbarHeight;
          $navbar.css('margin-top', margin+"px")

          lastDirection = -1;
        }

        lastScrollTop = st;
      });
    });
  </script>
</body>
</html>
