{% extends "base.html" %}
{% load static %}
{% block body %}
{% include "navbar.html" %}
<div class="container-fluid" style="margin-top: 80px;">
  <div class="row" style="background-color: #019FE8; justify-content: center;">
    <img class="img-fluid" src='{% static "images/snorkel_logo_steve_background.jpg" %}' alt="Snorkel's logo">
  </div>

  <!-- <div class="row">
    <div class="col">
      <h2>데이터 시대를 준비하는 남자들의 표류기 : Snorkel</h2>
    </div>
  </div>

  <div class="row">
    <img class="img-fluid" src='{% static "images/snorkel_logo.jpg" %}' alt="Snorkel's logo">
  </div>

  <div data-spy="scroll" data-target="#navbar" data-offset="0">

    <div class="row" id="motto">
      <div class="col-sm-8">
        우리는 똑똑합니다
      </div>
      <div class="col-sm-4">
        <img class="img-fluid" src='{% static "images/2boxa.jpg" %}' alt="예천 2박사">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        Sexy
      </div>
      <div class="col-sm-8">
        <img class="img-fluid" src='{% static "images/steve.jpg" %}' alt="스티브 장스">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        우리는 시작합니다
      </div>
      <div class="col-sm-4">
        <img class="img-fluid" src='{% static "images/sungineer.jpg" %}' alt="선지니어">
      </div>
    </div>

  </div>

  <footer class="footer">
    <div class="row">
      <div class="col-sm-6" style="text-align: center;">
        <span>
          © 2018 Snorkel, Inc
        </span>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div style="font-size:2em; color:Red; margin-right:10px;">
            <i class="fab fa-youtube"></i>
          </div>
          <div style="font-size:2em; color:Blue; margin-right:10px;">
            <i class="fab fa-facebook"></i>
          </div>
          <div style="font-size:2em; color:Tomato; margin-right:10px;">
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>
    </div>
  </footer> -->
</div>
{% endblock %}
