{% extends "base.html" %}
{% block title %}Snorkel login{% endblock %}
{% block body %}
{% include "navbar.html" %}
<div class="pt-5 text-center">
  <form method="post" action="" class="form-signin">
    {% csrf_token %}
    <h1 class="h3 mb-3 form-weight-normal">Please sign up</h1>
    <input type="text" name="username"
      class="form-control" placeholder="Username" required autofocus>
    <input type="password" id="loginPassword" name="password"
      class="form-control" placeholder="Password" required>
    <div class="h5 font-weight-bold text-info">{{ error }}</div>
    <button class="btn btn-lg btn-outline-primary btn-block" type="submit">
      Log in
    </button>
  </form>
</div>
{% endblock %}
